* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #36221c 50%);
    font-family: 'Raleway', sans-serif;
}

.titulo {
    color: #fff;
    margin: 7px 0;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Bentona wilson', cursive;
    margin-top: 0;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.contenido {
    font-size: 15px;
    font-family: 'Bentona wilson', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}


/* ------------------------- */


/* Estilos de Materialize */


/* ------------------------- */

.carousel {
    min-height: 500px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c;
}


/*-------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../image/fondo.jpg);
    background-image: linear-gradient(-45deg, #e8437e 50%, #63b55a 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 330vh;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}

.content-all {
    width: 210px;
    height: 150px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:hover {
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}