/* ESTILOS DE CARROUSEL */

.carrousel-main{
    width: 100%;
    height: auto;
}

.content-all {
    width: 210px;
    height: 150px;
    margin: auto;
    perspective: 800px;
    margin-top: 250px;
    padding: 10px;
    padding-top: 75px;
    padding-bottom: 200px;
}

.content-carrousel {
    width: 100%;
    animation: rotar 20s infinite linear;
    transform-style: preserve-3d;
    padding-bottom: 20px;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:hover {
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.content-carrousel img {
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
